<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 
 <typeAliases>
 <typeAlias alias="UserVO" type="com.injung.domain.UserVO"/>
 <typeAlias alias="FriendVO" type="com.injung.domain.FriendVO"/>
 <typeAlias type="com.injung.domain.BoardVO" alias="BoardVO"/>

 </typeAliases>
 <mappers>
		<mapper resource="/mappers/user.xml" />
		<mapper resource="/mappers/board.xml"/>
</mappers>
 </configuration>
 
 